header {
    background-color: #424141;
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
    position: relative;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    gap: 8px
  }
  
  header nav ul li {
    border: 1px solid black;
    padding: 8px;
  }

  header nav ul a {
    transition: 0.3s all;
 
  }

  header nav ul a:hover {
    scale: 110%;
    color: white;
  }

  header div.clock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100px;
    min-width: 100px;
    translate: -50% -50%;
    left: 50%; 
    top: 50%;
    color: white;
    background-color: #1d1b1b;
  }