#root {
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
}





main {
  padding: 80px 0;
}

main .hero {
  min-height: calc(100vh - (80px + 82px));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button.floating {
  position: absolute;
}

